@import url("https://fonts.googleapis.com/css?family=Rubik:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
button {
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

body {
  font-family: Rubik;
  font-weight: 400;
  font-size: 14px;
  color: #646d70;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

/* настройки адаптива */
[class*="__container"] {
  max-width: 840px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title {
  font-family: Merriweather;
  color: #fff;
  line-height: 130%;
  font-size: 30px;
}
.title--dark {
  color: #222f33;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.text {
  line-height: 185%;
}
.text p:not(:last-child) {
  margin-bottom: 15px;
}

.page {
  flex: 1 1 auto;
}
.page__main {
}
.page__materials {
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.header.scroll::before {
  opacity: 1;
}

.header__container {
  display: flex;
  position: relative;
  z-index: 2;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 105px;
}
.header__logo {
  overflow: hidden;
}
.header__logo img {
  width: 135px;
}

.header__body {
  display: flex;
  align-items: center;
  column-gap: 43px;
}

.header__menu {
}

.header__button {
  padding: 10px 21px;
  background-color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
}
.header__button:hover {
  background-color: #333;
  color: #fff;
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
  row-gap: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.menu__item {
}
.menu__link {
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 625px) {
  .header__container {
    min-height: 70px;
  }
  .header__body {
    column-gap: 20px;
  }
  .header__button {
    padding: 10px 15px;
  }
  .menu__list {
    column-gap: 20px;
    font-size: 14px;
  }
  .header__logo {
    flex: 0 0 33px;
  }
}

.main-section {
  min-height: 100vh;
  position: relative;
  display: flex;
}
.main-section__container {
  padding-top: 90px;
  padding-bottom: 50px;
  position: relative;
  z-index: 2;
  gap: 20px;
  grid-template-columns: 54.320988% 1fr;
  align-items: center;
  display: grid;
  flex: 1 1 auto;
}

@media (max-width: 700px) {
  .main-section__container {
    grid-template-columns: auto;
    align-content: center;
  }
}

.main-section__content {
}
.main-section__label {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.main-section__label:not(:last-child) {
  margin-bottom: 12px;
}
.main-section__title {
}
.main-section__video-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
@media (min-width: 700px) {
  .main-section__video-link {
    justify-self: center;
  }
}

.main-section__video-link::before {
  content: "";
  width: 32px;
  height: 32px;
  flex: 0 0 32px;
  border-radius: 50%;
  background: url("../img/main/play.svg") left no-repeat;
}

.main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
}
.main-section__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
@media (max-width: 700px) {
  .main-section__image img {
    opacity: 0.6;
  }
}

.swiper {
  overflow: hidden;
}
.swiper-initialized {
  touch-action: pan-y;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: content-box;
}
.swiper-slide {
  flex-shrink: 0;
}

.materials {
  position: relative;
  z-index: 2;
}
.materials__container {
  position: relative;
  padding-bottom: 20px;
  z-index: 2;
  display: grid;
  grid-template-columns: 50% minmax(280px, 325px);
  justify-content: space-between;
  align-items: start;
  gap: 20px;
  min-width: 0;
}
.materials__content {
  padding-top: 25px;
  display: grid;
  gap: 13px;
  justify-items: start;
}
.materials__title {
}
.materials__text {
}
.materials__more {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 14px;
  border: 1px solid #646d70;
}
.materials__slider {
  transform: translate(0, -20.765027%);
}
.slider-materials {
  position: relative;
}
.slider-materials__wrapper {
}
.slider-materials__slide {
  aspect-ratio: 325 / 366;
  position: relative;
}
.slider-materials__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slider-materials__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px 16px 5px;
  flex-wrap: wrap;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet {
  flex: 0 0 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s;
}
.slider-materials__pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

@media (min-width: 768px) {
  .materials::before {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 37px;
    transform: translate(0px, -100%);
    width: 61.7%;
  }
  .materials::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 140px;
    background-color: #222f33;
    width: 38.3%;
  }
}

@media (max-width: 768px) {
  .materials__container {
    grid-template-columns: auto;
  }
  .materials__slider {
    transform: translate(0, 0);
  }
}

.inovate {
  background-color: #222f33;
  padding: 70px 0px 80px 0px;
}
.inovate__container {
}
.inovate__title {
}
.inovate__title:not(:last-child) {
  margin-bottom: 8px;
}
.inovate__text {
  color: #fff;
  columns: 2 250px;
  gap: 43px;
}

@media (max-width: 768px) {
  .inovate {
    padding: 30px 0px;
  }
}

.info {
  padding-top: 85px;
  padding-bottom: 85px;
}
.info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 75px;
  row-gap: 30px;
}
.info__image {
  text-align: center;
}
.info__image img {
  max-width: 100%;
}

.info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 37px;
}
.info__item {
}
.info__title {
  font-family: Merriweather;
  color: #222f33;
  font-size: 18px;
}
.info__title:not(:last-child) {
  margin-bottom: 4px;
}
.info__text {
  font-size: 12px;
}

@media (max-width: 840px) {
  .info__content {
    column-gap: 20px;
  }
  .info__container {
    column-gap: 25px;
  }
}
@media (max-width: 768px) {
  .info {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .info__container {
    grid-template-columns: auto;
  }
  .info__image {
    order: 2;
  }
  .info__content {
    order: 1;
  }
}

.footer {
  background-color: #222f33;
  padding-top: 33px;
  padding-bottom: 33px;
}
.footer__container {
  display: grid;
  column-gap: 15px;
  row-gap: 20px;
  color: #fff;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
  .footer__container {
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
  }
}
.footer__mail {
  font-size: 12px;
  font-weight: 500;
}
.footer__mail:hover {
  text-decoration: underline;
}
.footer__logo {
  justify-self: center;
}
.footer__menu {
}
.menu-footer {
  justify-self: end;
  display: flex;
  gap: 30px;
  align-items: center;
}
.menu-footer__item {
}
.menu-footer__link {
  font-size: 12px;
  font-weight: 500;
}
.menu-footer__link:hover {
  text-decoration: underline;
}
